<!-- Created By: Richard Williamson -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body> 
	<ui:composition template="/Layouts/commonLayout.xhtml">
		<ui:define name="title">
			<title>Add New Product</title>
		</ui:define>
		<ui:define name="content">
			<h1>Add New Product</h1>
			<h:form>
				<h:outputLabel for="productName">Product Name: </h:outputLabel>
				<h:inputText id="productName" value="#{Product.productName}" />
				<br />
				<h:outputLabel for="product_description">Description: </h:outputLabel>
				<h:inputText id="product_description" value="#{Product.description}"/>
				<br />
				<h:outputLabel for="cost">Cost: </h:outputLabel>
				<h:inputText id="cost" value="#{Product.cost}"/>
				<br />
				<h:commandButton action="#{productController.saveNewProduct(Product)}" value="Add Product" />
			</h:form>
		</ui:define>
	</ui:composition>
</body> 
</html>
