<!-- 
	Created By: Donald Trowbridge
	Created: 11/21/2020
	Last Update Time: 12/5/2020
	Last Updated by: Richard Williams
	Notes:
		-Created as template to create shell of application and test navigation
		-12/5/2020 : Added form to allow admins to update product
 -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body> 
	<ui:composition template="/Layouts/commonLayout.xhtml">
		<ui:define name="title">
			<title>Edit Product</title>
		</ui:define>
		<ui:define name="content">
			<h1>Edit Product</h1>
			<h:form>
				<f:param name="product" value="#{productController.getProduct()}" />
				<h:outputLabel for="productName">Product Name: </h:outputLabel>
				<h:inputText id="productName" value="#{productController.product.productName}" />
				<br />
				<h:outputLabel for="product_description">Description: </h:outputLabel>
				<h:inputText id="product_description" value="#{productController.product.description}"/>
				<br />
				<h:outputLabel for="cost">Cost: </h:outputLabel>
				<h:inputText id="cost" value="#{productController.product.cost}"/>
				<br />
				<h:commandButton action="#{productController.updateProduct(productController.product)}" value="Edit Product" />
			</h:form>
		</ui:define>
	</ui:composition>
</body> 
</html>
