<!-- Created By: Richard Williamson -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body> 
	<ui:composition template="/Layouts/commonLayout.xhtml">
		<ui:define name="title">
			<title>Admin: Product Listing</title>
		</ui:define>
		<ui:define name="content">
			<h1>Admin: Product Listing</h1>
			<h:form>
				<h:inputText value="#{Product.productName}" class="searchbar" />
				<h:commandButton action="#{productController.viewSearchProducts(Product.productName)}" value="Search" />
				<h:commandButton action="#{productController.viewSearchProducts(null)}"  value="clear"/>
			</h:form>
			<h:dataTable
    			value="#{productController.products}"
    			var="product"
    			styleClass="product"
    			headerClass="product-header"
    			rowClasses="product-row-even,product-row-odd">
    			<h:column>
    				<f:facet name="header">Id</f:facet>
    				#{product.productId}
    			</h:column>
    			<h:column>
    				<f:facet name="header">Product Name</f:facet>
    				#{product.productName}
    			</h:column>
    			<h:column>
    				<f:facet name="header">
    					<div class="left">Cost</div>
    				</f:facet>
    				<div class="left">#{product.cost}</div>
    			</h:column>
    			<h:column>
    				<f:facet name="header">Edit</f:facet>
    				<h:form>
	    				<h:commandButton action="#{productController.editProduct(product.productId)}" value="Edit" />
	   				</h:form>
    			</h:column>
    			<h:column>
    				<f:facet name="header">Remove</f:facet>
    				<h:form>
	    				<h:commandButton action="#{productController.removeProduct(product.productId)}" value="Delete" />
	   				</h:form>
    			</h:column>
    		</h:dataTable>
		</ui:define>
	</ui:composition>
</body> 
</html>
    		