<!-- Created By: Richard Williamson -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body> 
	<ui:composition template="/Layouts/commonLayout.xhtml">
		<ui:define name="title">
			<title>Product Confirmation</title>
		</ui:define>
		<ui:define name="content">
			<h1>Product Addition Success!</h1>
			<br />
			<p>
				Product Name: #{flash.newProduct.productName}
				<br />
				Cost: #{flash.newProduct.cost}
				<br />
				<br />
				Description: <br />
				#{flash.newProduct.description}
			</p>
			<h:form>
				<h:commandButton action="#{productController.goToAddNewProduct()}" value="Add Another Product" />
			</h:form>
			<h:form>
				<h:commandButton action="#{productController.goToProductListing()}" value="Continue to Product Listing" />
			</h:form>
		</ui:define>
	</ui:composition>
</body> 
</html>
