
<!-- 
	Created By: Donald Trowbridge
	Created: 12/5/2020
	Last Update Time: 12/13/2020
	Last Updated by: Richard Williamson
	Notes:
		-Created page to display product details and allow someone to add product to cart
 -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body> 
	<ui:composition template="/Layouts/commonLayout.xhtml">
		<ui:define name="title">
			<title>Product Detail</title>
		</ui:define>
		<ui:define name="content">
			<h1>Product Details</h1>
			<h:form>
				<f:param name="product" value="#{productController.getProduct()}" />
				<h:outputLabel value="Product: " />
				<h:outputText value="#{productController.product.productName}" />
				<br/>
				<h:outputLabel value="Description: " />
				<h:outputText value="#{productController.product.description}" />
				<br/>
				<h:outputLabel value="Price: " />
				<h:outputText value="#{productController.product.cost}" />
				<br />
				<h:commandButton action="#{productController.addProductToCart(productController.product)}" value="Add to cart" />
			</h:form>
		</ui:define>
	</ui:composition>
</body> 
</html>
