<!-- 
	Created By: Donald Trowbridge
	Created: 11/21/2020
	Last Update Time: 12/13/2020
	Last Updated by: Richard Williamson
	Notes:
		-Created as template to create shell of application and test navigation
		-12/6/2020 : Added datatable to display all products. Added search bar option
 -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body> 
	<ui:composition template="/Layouts/commonLayout.xhtml">
		<ui:define name="title">
			<title>Products</title>
		</ui:define>
		<ui:define name="content">
				<h1>Products</h1>
				<h:form>
					<h:inputText value="#{Product.productName}" class="searchbar"/>
					<h:commandButton action="#{productController.viewSearchProducts(Product.productName)}" value="Search" />
					<h:commandButton action="#{productController.viewSearchProducts(null)}"  value="clear"/>
				</h:form>
	
				<h:dataTable
	    			value="#{productController.products}"
	    			var="product"
	    			styleClass="product"
	    			headerClass="product-header"
	    			rowClasses="product-row-even,product-row-odd"
	    			auotUpdate="true"
	    			>
	    			<h:column>
	    				<f:facet name="header">Product Name</f:facet>
	    				#{product.productName}
	    			</h:column>
	    			<h:column>
	    				<f:facet name="header">
	    					<div class="left">Cost</div>
	    				</f:facet>
	    				<div class="left">#{product.cost}</div>
	    			</h:column>
	    			<h:column>
	    				<f:facet name="header">&nbsp;</f:facet>
	    				<h:form>
		    				<h:commandButton action="#{productController.viewProduct(product.productId)}" value="View" />
		   				</h:form>
	    			</h:column>
	    			<h:column>
	    				<f:facet name="header">
	    					<div class="left">&nbsp;</div>
	    				</f:facet>
	    				<div class="left">
	    					<h:form>
	    						<h:commandButton action="#{productController.addProductToCart(product)}" value="Add to cart" />
	    					</h:form>
	    				</div>
	    			</h:column>
	    		</h:dataTable>
	    		<div class="ShoppingCart-total">
	    			<h:outputText value = "#{productController.getShoppingCartTotal()}">
	    				<f:convertNumber type="currency" />
					</h:outputText>
					<h:form>
	    				<h:commandButton action="#{productController.checkout()}" value="Checkout" />
	    			</h:form>
				</div>
		</ui:define>
	</ui:composition>
</body> 
</html>
