<!-- 
	Created By: Richard Williamson
 -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body> 
	<ui:composition template="/Layouts/commonLayout.xhtml">
		<ui:define name="title">
			<title>Order confirmed</title>
		</ui:define>
		<ui:define name="content">
			<h2>Order confirmed</h2>
			Your order has been recieved, you will be notified when it is being shipped.
			<h:form>
				<h:commandButton action="#{productController.clearShoppingCart()}" value="Back to shopping" />
			</h:form>
		</ui:define>
	</ui:composition>
</body> 
</html>
