<!-- 
	Created By: Donald Trowbridge
	Created: 11/21/2020
	Last Update Time:
	Last Updated by:
	Notes:
		-11/22/2020 : Page logic functions properly. Need to update the formatting for the buttons
 -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:body> 
 	<!--Renders the page layout-->
	<ui:composition template="/Layouts/commonLayout.xhtml">
 		<!--Creates the title for the page-->
		<ui:define name="title">
			<title>Login Page</title>
		</ui:define>
		<!--Defines the content of the page-->
		<ui:define name="content">
			<div id="LoginForm">
				<!--Create login form. Input elements hooked up to user object and form submitted to Login controller-->
				<form method="post" action="j_security_check">
					Username:
					<h:inputText id="j_username" autocomplete="off" />
					<br />
					Password: 
					<h:inputSecret id="j_password" autocomplete="off"/>
					<br />
					<h:commandButton type="submit" value="Login"/>
				</form>
				<!--Button to redirect user to registration page-->
				<h:form>
					<h:commandButton action="#{Login.goToRegistration()}" value="Sign up" id="registrationRedirectButton" />
				</h:form>
				<h:messages autoupdate="true"/>
			</div>
		</ui:define>
	</ui:composition>
</h:body> 
</html>
