<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body> 
	<ui:composition template="/Layouts/commonLayout.xhtml">
 		<!--Creates the title for the page-->
		<ui:define name="title">
			<title>Login Error</title>
		</ui:define>
		<!--Defines the content of the page-->
		<ui:define name="content">
			<h1>Login Error</h1>
		</ui:define>
	</ui:composition>
</body> 
</html>
