<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<!-- CST-235 Milestone Project | Matthew McSpadden -->
<h:body> 
	<ui:composition template="/Layouts/commonLayout.xhtml">
		<ui:define name="title">
			<title>Registration Confirmed</title>
		</ui:define>
		<ui:define name="content">
			<h1>Registration Success!</h1>			
			<p>Welcome, #{User.firstName} #{User.lastName}!</p>
			<p>Your successfully signed up with email #{User.email} and username #{User.username}</p>
			<h:form>
				<h:commandButton action="#{registrationForm.goToLogin()}" value="Continue to Login" />
			</h:form>
			
		</ui:define>	
	</ui:composition>
</h:body>
</html>