<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<!-- CST-235 Milestone Project | Matthew McSpadden -->
<h:body> 
	<ui:composition template="/Layouts/commonLayout.xhtml">
		<ui:define name="title">
			<title>Registration</title>
		</ui:define>
		<ui:define name="content">
			<h1>Registration</h1>
			<h:form>
				<h:outputLabel for="username" class="RegistrationLabel">Username: </h:outputLabel>
				<h:inputText id="username" value="#{User.username}" />
				<br />
				<h:outputLabel for="password" class="RegistrationLabel">Password: </h:outputLabel>
				<h:inputSecret id="password" value="#{User.password}"/>
				<br />
				<h:outputLabel for="email" class="RegistrationLabel">Email: </h:outputLabel>
				<h:inputText id="email" value="#{User.email}"/>
				<br />
				<h:outputLabel for="firstName" class="RegistrationLabel">First Name: </h:outputLabel>
				<h:inputText id="firstName" value="#{User.firstName}"/>
				<br />
				<h:outputLabel for="lastName" class="RegistrationLabel">Last Name: </h:outputLabel>
				<h:inputText id="lastName" value="#{User.lastName}"/>
				<br />
				<h:commandButton action="#{registrationForm.register(User)}" value="Register!" />
			</h:form>
			<h:form>
				<h:commandButton action="#{registrationForm.goToLogin()}" value="Have an account? Login" />
			</h:form>
			<h:messages />
		</ui:define>
	</ui:composition>
</h:body> 
</html>
