<html xmlns:h="http://java.sun.com/jsf/html">
<head>
	<title>Hello World</title>	
</head>
<body>
   <h:form>
        <h:outputText for="message">Message:</h:outputText>
        <h:inputText id="message" value="#{hwb.message}" label="Message:"/>
        <br />
        <h:commandButton action="#{helloWorldController.updateMessage(hwb)}" value="Submit" />
    </h:form>
</body>
</html>