<!-- 
	Created By: Donald Trowbridge
	Created: 11/21/2020
	Last Update Time:
	Last Updated by:
	Notes:
		-11/22/2020 : At this time, this page is considered completed and the is the layout of every page.
 -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<h:outputStylesheet library="css" name="CatWidget.css"></h:outputStylesheet>
	<ui:insert name="title">
	</ui:insert>
</h:head>
<h:body>

<div id="header">
	<h:outputStylesheet name="/resources/css/bootstrap.css" />
	<ui:insert name="header">
		<ui:include src="/Layouts/commonHeader.xhtml" />
	</ui:insert>

	<ui:insert name="menu">
		<ui:include src="/Layouts/commonMenu.xhtml" />
	</ui:insert>
</div>
	<ui:insert name="content">
		<ui:include src="/Layouts/commonContent.xhtml" />
	</ui:insert>
<div id="footer">
	<ui:insert name="footer">
		<ui:include src="/Layouts/commonFooter.xhtml" />
	</ui:insert>
</div>
</h:body>
</html>