<!-- 
	Created By: Donald Trowbridge
	Created: 11/21/2020
	Last Update Time:
	Last Updated by:
	Notes:
		-11/22/2020 : As it stands, this page is considered completed
 -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
	
	<!-- Contains company name and logo, which is displayed at the top of the page -->
	<ui:composition>
			<h:graphicImage value="/resources/images/CatWidget.PNG" id="logo"></h:graphicImage>
			<h1>Cat-Widgets</h1>
	</ui:composition>
</html>