<!-- 
	Created By: Donald Trowbridge
	Created: 11/21/2020
	Last Update Time:
	Last Updated by:
	Notes:
		-11/22/2020 : As it stands, this template is complete. Subject to change in the future.
 -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

	<ui:composition>
		<div class="pageLayout">
			<h5>@Copyright Cat-Widget 2020</h5>
		</div>
	</ui:composition>
</html>