<!-- 
	Created By: Donald Trowbridge
	Created: 11/21/2020
	Last Update Time:
	Last Updated by:
	Notes:
		-11/22/2020 : This page is for the menu bar. Seeking to update style and logic in the future, but is currently functional. Need to fix the menu bar for dynamic use next week.
 -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

	<ui:composition>
		<div class="pageLayout">
		<!-- Nav bar/menu bar-->
		<nav>
			<!-- Formatting didn't work well with a fragmented component. So the menu will be blank until the user logs in. Will fix next week, serves it's purpose now.-->
			<div>
				<!--Displays a hello message on the menu bar and allows the user to logoff-->
				<div class="menu" id="User">
						<h:outputLabel value="#{Login.greeting}" />
						<div class="dropdown-content">
						<h:form>
							<h:commandButton value="Logoff" action="#{Login.onLogoff()}"/>
						</h:form>
						</div>
				</div> 
				<!-- Menu items and page refrences-->
				<div class="menu" id="Login">
					<p>Login</p>
					<div class="dropdown-content">
							<a href="/cat-widgets/Login/Registration.jsf">Register</a>
					</div>
				</div>
				<div class="menu" id="Product">
					<p>Product</p>
					<div class="dropdown-content">
						<a href="/cat-widgets/Product/SearchProduct.jsf">Products</a>
					</div>
				</div>
				<div class="menu" id="Orders">
					<p>Orders</p>
					<div class="dropdown-content">
						<a href="/cat-widgets/Orders/Cart.jsf">Cart</a>
					</div>
				</div>
				<div class="menu" id="Admin">
					<p>Admin</p>
					<div class="dropdown-content">
						<a href="/cat-widgets/Admin/Product/ProductListing.jsf">Product Listing</a>
						<br />
						<a href="/cat-widgets/Admin/Product/AddProduct.jsf">AddProduct</a>
						<br/>
						<a href="/cat-widgets/Admin/Product/EditProduct.jsf">Edit Product</a>
						<br />
						<a href="/cat-widgets/Admin/Profiles/ProfileAdmin.jsf">Edit Profile</a>
					</div>
				</div>
			</div>
		</nav>
		<div>
		
		</div>
	</div>
	</ui:composition>
</html>