/*
	Created By: Donald Trowbridge
	Created: 11/21/2020
	Last Update Time:
	Last Updated by:
	Notes:
		-The bootstrap scripts were not formatting the page properly. Created design to format the pages until I can find better solution.
*/


@charset "ISO-8859-1";

body{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px; 
}
#header, #footer {
	background-color: orange;
}
#header #logo{
	height: 38px;
	width: 40px;
	float: left;
	margin-left: 38%;
}
#header h1 {
	font-size: 40px;
	margin-left: 20px;
}
.menu {
	float: left;
}
.menu > p {
	margin-left: 20px;
}
#Admin {
	float: none;
	display: block;
}
#User {
	width: 38%;
}
nav p {
	display: inline;
}
nav label {
	display: inline-block;
	margin-left: 0;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 50px;
  width: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
#Login:hover .dropdown-content {
	display: block;
	
}
#Product:hover .dropdown-content {
	display: block;
}
#Orders:hover .dropdown-content {
	display: block;
}
#Admin:hover .dropdown-content {
	display: inline-block;
	margin-right:50px;
}
#User:hover .dropdown-content {
	display: block;
}
form {
	margin-top: 0px;
}
#footer h5 {
	margin-left: 40%;
	font-size: 18px;
}
#footer {
	position: absolute;
	bottom: 0px;
	width:100%;
}
input[type=submit] {
	margin-top: 10px;
	display: inline-block;
}

p{
	margin: 0px;
}

Label {
		min-width: 120px;
		display: inline-block;
}

.product {
	border-collapse: collapse;
	border: 1px solid #222;
	min-width: 50%;
	padding: 4px;
}

.product-header {
	background-color: #555;
	color: #fff;
	font-weight: bold;
	text-align: center;
}

.product-row-odd {
	background-color: #fff;
	text-align: center;
}

.product-row-even {
	background-color: #ccc;
	text-align: center;
}

.product-row-even:hover, .product-row-odd:hover {
	background-color: #999;
	color: #fff;
}

.searchbar{
	width: 400px;
}

.ShoppingCart-total {
	margin-top: 12px;
}


