<!-- 
	Created By: Donald Trowbridge
	Created: 12/19/2020
	Last Update Time:
	Last Updated by:
	Notes:
		-Created page to edit profiles
 -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body> 
	<ui:composition template="/Layouts/commonLayout.xhtml">
		<ui:define name="title">
			<title>Edit Profile</title>
		</ui:define>
		<ui:define name="content">
			<h1>Edit Profile</h1>
			<h:form>
				<f:param name="user" value="#{usersController.user}" />
				<h:outputLabel for="UserId" value="User Id: " />
				<h:inputText value="#{usersController.user.userId}" id="UserId" readonly="true" />
				<br />
				<h:outputLabel for="FirstName" value="First Name: " />
				<h:inputText value="#{usersController.user.firstName}" id="FirstName" />
				<br />
				<h:outputLabel for="LastName" value="Last Name: " />
				<h:inputText value="#{usersController.user.lastName}" id="LastName" />
				<br />
				<h:outputLabel for="username" value="Username: " />
				<h:inputText value="#{usersController.user.username}" id="username" />
				<br />
				<h:outputLabel for="email" value="Email: " />
				<h:inputText value="#{usersController.user.email}" id="email"/>
				<br />
				<h:commandButton action="#{usersController.updateUser(usersController.user)}" value="Update" />
				<h:commandButton action="#{usersController.cancelUpdate()}" value="Cancel" />
			</h:form>
		</ui:define>
	</ui:composition>
</body> 
</html>
