<!-- 
	Created By: Donald Trowbridge
	Created: 11/21/2020
	Last Update Time: 12/18/2020
	Last Updated by: Donald Trowbridge
	Notes:
		-Created as template to create shell of application and test navigation
		-12/18/2020 : Added the capability to view, delete, and edit all profiles.
 -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body> 
	<ui:composition template="/Layouts/commonLayout.xhtml">
		<ui:define name="title">
			<title>Profile Admin</title>
		</ui:define>
		<ui:define name="content">
			<h1>Profile Admin</h1>
				<h:dataTable
	    			value="#{usersController.allUsers}"
	    			var="user"
	    			styleClass="product"
	    			headerClass="product-header"
	    			rowClasses="product-row-even,product-row-odd"
	    			auotUpdate="true"
	    			>
	   				<h:column>
	   					<f:facet name="header">User Id</f:facet>
	   					#{user.userId}
	   				</h:column>
	   				<h:column>
	   					<f:facet name="header">First Name</f:facet>
	   					#{user.firstName}
	   				</h:column>
	   				<h:column>
	   					<f:facet name="header">Last Name</f:facet>
	   					#{user.lastName}
	   				</h:column>
	   				<h:column>
	   					<f:facet name="header">Email</f:facet>
	   					#{user.email}
	   				</h:column>
	   				<h:column>
	   					<f:facet name="header">&nbsp;</f:facet>
	   					<h:form>
	   						<h:commandButton action="#{usersController.editUser(user)}" value="Edit" />
	   					</h:form>
	   				</h:column>
	   				<h:column>
	   					<f:facet name="header">&nbsp;</f:facet>
	   					<h:form>
	   						<h:commandButton action="#{usersController.deleteUser(user)}" value="Delete" />
	   					</h:form>
	   				</h:column>
	    		</h:dataTable>
		</ui:define>
	</ui:composition>
</body> 
</html>
